<ion-content [fullscreen]="true">
  <body>
    <div id="container">
      <div col-md-6>
        <ion-button color="danger" expand="block" routerLink="/mis-juegos">Volver</ion-button>
      </div>
      <div id="container">
        <form action="">
          <ion-item lines="full">
            <ion-label position="floating">Nombre del Juego</ion-label>
            <ion-input type="text" placeholder="Ingrese el nombre del juego..." required></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="floating">Descripción del Juego</ion-label>
            <ion-input type="text" placeholder="Ingrese una descripción..." required></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="floating">Precio</ion-label>
            <ion-input type="text" placeholder="Ingrese el precio..." required></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="floating">Link Imagen</ion-label>
            <ion-input type="text" placeholder="Ingrese un link de imagen..." required></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="floating">Categoría</ion-label>
            <ion-input type="text" placeholder="Ingrese categoría..." required></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="floating">SKU</ion-label>
            <ion-input type="text" placeholder="Ingrese SKU del juego ..." required></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="floating">Año Lanzamiento</ion-label>
            <ion-input type="text" placeholder="Ingrese año de lanzamiento ..." required></ion-input>
          </ion-item>
        </form>
      </div>
    </div>
  </body>
</ion-content>
