<ion-header>
  <ion-toolbar>
    <ion-title>agregar-juego</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<body>
  <div col-md-6>
    <ion-button color="danger" expand="block" routerLink="/mis-juegos">Volver</ion-button>
  </div>
  <div id="container">
    <form action="">
      <ion-item lines="full">
        <ion-label position="floating">Nombre del Juego</ion-label>
        <ion-input type="text" placeholder="Ingrese el nombre del juego..." required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating"></ion-label>
        <ion-input type="text" placeholder="Ingrese el nombre del juego..." required></ion-input>
      </ion-item>
    </form>
  </div>
</body>
</ion-content>
