<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenid@</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <body>
    <div id="container">
      <form action="">
        <div>
          <ion-label>Nombre de Usuario</ion-label>
          <ion-input type="text" palceholder="Ingrese su nombre de usuario..."></ion-input>
        </div>
        <div>
          <ion-label>Contraseña</ion-label>
          <ion-input type="password" palceholder="Ingrese su contraseña..."></ion-input>
        </div>
        <div>
          <ion-button routerLink="/home">Iniciar Sesión</ion-button>
        </div>
      </form>
    </div>
  </body>
</ion-content>
