<ion-content>

  <body>
    <!-- <form action="" class="form">
      <h1>BIENVENIDOS A ALLGAMES</h1>
      <div>
        <ion-label>Nombre de Usuario</ion-label>
        <ion-input type="text" name="text" class="box" placeholder="Ingrese su usuario"></ion-input>
      </div>
      <div>
        <ion-label>Contraseña</ion-label>
        <ion-input type="password" name="Password" class="box" placeholder="Ingrese su contraseña"></ion-input>
      </div>
      <div>
        <ion-input  type="submit button" value="Iniciar Sesion" routerLink="/home" ></ion-input>
      
      </div>
    </form> -->

    <div class="login-box">
      <h1>Bienvenidos al Trip Zone</h1>
      <div class="textbox">
        <i class="fa fa-user" aria-hidden="true"></i>
        <input type="text" placeholder="Usuario" value="">
      </div>
      <div class="textbox">
        <i class="fa fa-lock" aria-hidden="true"></i>
        <input type="password" placeholder="Contraseña" name="" value="">
      </div>
      <input class="btn" type="button" name="" value="Ingresar" routerLink="/home">
    </div>
    <div class="underlay-photo"></div>
    <div class="underlay-black"></div> 
  </body>
</ion-content>