<ion-header>
  <ion-toolbar>
    <ion-title>editar-usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="editarUsuario()" [formGroup] = "formEditarUsuario">
    <label for="">Nombre Completo</label>
    <ion-input formControlName="name" placeholder=""></ion-input>
    <label for="">Nombre de Usuario</label>
    <ion-input formControlName="userName" placeholder=""></ion-input>
    <label for="">Contraseña</label>
    <ion-input formControlName="password" placeholder=""></ion-input>
    <label for="">Edad</label>
    <ion-input formControlName="edad" placeholder=""></ion-input>
    <label for="">Correo electronico</label>
    <ion-input formControlName="email" placeholder=""></ion-input>
    <label for="">Región</label>
    <ion-input formControlName="region" placeholder=""></ion-input>
    <label for="">Comuna</label>
    <ion-input formControlName="comuna" placeholder=""></ion-input>
    <label for="">Dirección</label>
    <ion-input formControlName="direccion" placeholder=""></ion-input>
  
    <button type="submit" [disabled]="!formEditarUsuario.valid">Enviar</button>
  </form>
</ion-content>
