.btn {
  width: 100%;
  background-color: rgba(0, 0, 0, 1);
  border: 2px solid;
  color: white;
  padding: 5px;
  font-size: 18px;
  margin: 12px 1px;
  border-radius: 25px;

}

.title {
  text-align: right;
  margin-top: 10px;
}

.bg-image {

  --background: url('https://w0.peakpx.com/wallpaper/642/990/HD-wallpaper-neon-long-frame-amoled-black-border-dark-light-one-plus-oneplus-samsung-smoke-xiaomi.jpg') center no-repeat;




}

.card {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: white;
}