<ion-content [fullscreen]="true">
  <body>
    <div id="container">
      <div class="login-box">
  
        <div class="textbox">
          <input class="btn" type="button" name="" value="Mi Perfil">
        </div>
        <div class="textbox">
          <input class="btn" type="button" name="" value="Juegos" routerLink="/juegos">
        </div>
        <div class="textbox">
          <input class="btn" type="button" name="" value="Mis Juegos" routerLink="/mis-juegos">
        </div>
        <div class="textbox">
          <input class="btn" type="button" name="" value="Agregar Usuarios">
        </div>
        <div class="textbox">
          <input class="btn" type="button" name="" value="Cerrar sesión" routerLink="/login">
        </div>
      </div>
    </div>
    <div class="underlay-photo"></div>
    <div class="underlay-black"></div> 
  
  </body> 
  </ion-content>
  