<ion-content [fullscreen]="true">
<body>
  <div id="container">
    <div col-md-12>
      <ion-button color="tertiary" expand="block">Todos los Juegos</ion-button>
    </div>
    <div col-md-12>
      <ion-button color="tertiary" expand="block">Mis Juegos</ion-button>
    </div>
    <div col-md-12>
      <ion-button color="tertiary" expand="block">Perfil</ion-button>
    </div>
    <div col-md-12>
      <ion-button color="danger" expand="block" routerLink="/login">Cerrar sesión</ion-button>
    </div>
  </div>
</body> 
</ion-content>
